<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile=".\log\internal-nlog.txt">
  <targets>
    <target xsi:type="File" name="debugfile" fileName=".\log\debug\${shortdate}.log" layout="${longdate}[${logger}|${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="File" name="infofile" fileName=".\log\info\${shortdate}.log" layout="${longdate}[${logger}|${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="File" name="errorfile" fileName=".\log\error\${shortdate}.log" layout="${longdate}[${logger}|${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="File" name="ownFile-web" fileName=".\log\trace\${shortdate}\${shortdate}.log" layout="${longdate}|${logger}[${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infofile" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
    <logger name="Microsoft.*" minlevel="Trace"  final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>