<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile=".\log\internal-nlog.txt">
  <targets>
    <target xsi:type="File" name="debugfile" fileName=".\log\debug\${shortdate}.log" layout="${longdate}[${logger}|${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="File" name="infofile" fileName=".\log\info\${shortdate}.log" layout="${longdate}[${logger}|${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="File" name="errorfile" fileName=".\log\error\${shortdate}.log" layout="${longdate}[${logger}|${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="File" name="ownFile-web" fileName=".\log\trace\${shortdate}\${shortdate}.log" layout="${longdate}|${logger}[${uppercase:${level}}]${newline}----------------------------------------------------------------------------${newline}${message} ${exception}${newline}----------------------------------------------------------------------------${newline}" />
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="Database" name="infodatabase" dbProvider="MySql.Data.MySqlClient.MySqlConnection,MySql.Data"
            connectionstring="Database='arcanestars_log_db';Data Source='localhost';Port=3306;User Id='root';Password='!Qaz2wSX';charset='utf8';pooling=true">
      <commandText>
        insert into nlog.log (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>
      <parameter name="@application" layout="NLogTestDemo" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infofile" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
    <logger name="Microsoft.*" minlevel="Trace"  final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>